@charset "utf-8";
/* CSS Document */

*{
	box-sizing: border-box;
}

body{
	background-image: url("assests/Mars~orig.jpg");
	
}

#mainWrapper{
    width: 1400px;
    height: 100%;
    margin: 0px auto;
    background-color: rgba(253,253,253,1.00);
}

header{
	heigth: 250px;
	width: 100%;
	margin: 20px 0px 0px 0px;
	background-color: #cb4e41;
			
}

#tagline{
	text-align: right;
	color:rgba(253,253,253,1.00);
	float: right;
	margin: 55px 220px 55px 150px;
	font-family: acme-gothic, sans-serif; 
    font-weight: 400; 
	font-size: 25pt;
    font-style: normal; 
	
}

header img{
	margin: 12px 0px 10px 90px;
	padding: 15px 15px 15px 15px;
	background-color: rgba(253,253,253,1.00) ;
	
}

nav{
	height: 50px;
	width: 100%;
	background-color: #FACC5C;
	margin: 0px 0px 20px 0px;
	padding: 1px;
}

nav ul{
	list-style: none;
}

nav li{
	display: inline-block;
	margin: 0px 160px 20px 1010px;
	padding: 0px 15px 10px 50px;
	color: rgba(0,0,0,1.00);
	/*font-family:"Myriad Pro","sans-serif";*/
	font-family: myriad-pro-semiextended, sans-serif;
	font-size: 13pt;
}

nav a{
	color: rgba(0,0,0,1.00);
}
#hike1Pic img{
	height: 280px;
	width: 400px;
	margin: 50px 15px 0px 235px;
	padding: 0px;
	border-top: 4px solid black;
	border-right: 4px solid black;
	/*border-bottom: 2px solid black;*/
	border-left: 4px solid black;
	border-radius: 10px 10px 0px 0px;
		}

#hike1Pic p{
	margin: -22px 0px 0px 245px;
	padding: 0px;
	/*border: none;*/
	font-size: 11px;
	color: white;
}

#hikes1 h2{
	margin: -5px 10px 0px 255px;
	font-family: adorn-roman, sans-serif;
	color: black;
}

#hikes1 p{
	height: 200px;
	width: 400px;
	margin: -47px 10px 100px 235px;
	padding: 45px 10px 10px 10px;
	border-right: 4px solid;
	/*border-top: 2px solid;*/
	border-bottom: 4px solid;
	border-left: 4px solid;
	border-radius: 0px 0px 10px 10px;
	font-family: myriad-pro-semiextended, sans-serif;
	}

#hike1{
	float: left;
}
#hike2Pic img{
	height: 280px;
	width: 400px;
	margin: 50px 15px 0px 85px;
	padding: 0px;
	border-top: 4px solid black;
	border-right: 4px solid black;
	/*border-bottom: 2px solid black;*/
	border-left: 4px solid black;
	border-radius: 10px 10px 0px 0px;
		}

#hike2Pic p{
	margin: -22px 0px 0px 95px;
	padding: 0px;
	/*border: none;*/
	font-size: 11px;
	color: white;
}

#hikes2 h2{
	margin: -5px 10px 0px 105px;
	font-family: adorn-roman, sans-serif;
	color: black;
}

#hikes2 p{
	height: 200px;
	width: 400px;
	margin: -47px 10px 100px 85px;
	padding: 45px 10px 10px 10px;
	border-right: 4px solid;
	/*border-top: 2px solid;*/
	border-bottom: 4px solid;
	border-left: 4px solid;
	border-radius: 0px 0px 10px 10px;
	font-family: myriad-pro-semiextended, sans-serif;
	}

#hike2{
	float: left;
}


footer{
	height: 100px;
	width: 100%;
	margin: 20px 0px 0px 0px;
	padding: 10px;
	background-color: #cb4e41;
	color:rgba(253,253,253,1.00);
	text-align: center;
	clear: both;
	font-family: myriad-pro-semiextended, sans-serif;
}
