@charset "utf-8";
/* CSS Document */

*{
	box-sizing: border-box;
}

body{
	background-image: url("assests/Mars~orig.jpg");
	
}

#mainWrapper{
    width: 1500px;
    height: 100%;
    margin: 0px auto;
    background-color: rgba(253,253,253,1.00);
}

header{
	heigth: 250px;
	width: 100%;
	margin: 20px 0px 0px 0px;
	background-color: #cb4e41;
			
}

#tagline{
	text-align: right;
	color:rgba(253,253,253,1.00);
	float: right;
	margin: 55px 350px 55px 150px;
	font-family: acme-gothic, sans-serif; 
    font-weight: 400; 
	font-size: 25pt;
    font-style: normal; 
	
}

header img{
	margin: 12px 0px 10px 90px;
	padding: 15px 15px 15px 15px;
	background-color: rgba(253,253,253,1.00) ;
	
}

nav{
	height: 50px;
	width: 100%;
	background-color: #FACC5C;
	margin: 0px 0px 10px 0px;
	padding: 1px;
}

nav ul{
	list-style: none;
}

nav li{
	display: inline-block;
	margin: 0px 0px 20px 380px;
	padding: 0px 15px 10px 50px;
	color: rgba(0,0,0,1.00);
	/*font-family:"Myriad Pro","sans-serif";*/
	font-family: myriad-pro-semiextended, sans-serif;
	font-size: 13pt;
}

nav a{
	color: rgba(0,0,0,1.00);
}

#map{
	height: 521px;
	width: 675px;
    float: left;
    margin: 30px 25px 30px 85px;
    border: solid;
    padding: 0px;	
}

#mapInfo{
	height: 400px;
	width: 500px;
	margin: 85px 10px 50px 75px;
	padding: 20px 25px 25px 45px;
    border: thick solid;
	float: left;
}

#mapInfo ul{
/*list-style: none;*/
	line-height: 40px;
	font-family:myriad-pro-semiextended, sans-serif;
	font-size: 16pt;
	
}

#firstList{
	text-align: left;
	float: left;
}

#elevation{
	margin: 75px 10px 60px 15px;
	float: left;
}

#copyText h2{
	margin: 0px 0px -10px 0px;
	font-family: adorn-roman, sans-serif;
	font-size: 25pt;
}

#copyText P{
	font-family:myriad-pro-semiextended, sans-serif;
	font-size: 16pt;
}


#copyText{
	float: left;
	height: 400px;
	width: 550px;
	margin: 5px 10px 50px 75px;
	padding: 20px 25px 25px 45px;
}



footer{
	height: 100px;
	width: 100%;
	margin: 20px 0px 0px 0px;
	padding: 10px;
	background-color: #cb4e41;
	color:rgba(253,253,253,1.00);
	text-align: center;
	clear: both;
	font-family: myriad-pro-semiextended, sans-serif;
}
