@charset "utf-8";
/* CSS Document */

/*This is so that the padding and margins added later don't affect the box sizes*/
*{
	box-sizing: border-box;
}

body{
	background-image: url("assests/Mars~orig.jpg");
	
}

#mainWrapper{
    width: 1200px;
    height: 900px;
    margin: 0px auto;
    background-color: rgba(253,253,253,1.00);
}

header{
	heigth: 250px;
	width: 1200px;
	margin: 20px 0px 0px 0px;
	background-color: #cb4e41;
			
}

#tagline{
	text-align: right;
	color:rgba(253,253,253,1.00);
	float: right;
	margin: 55px 220px 55px 150px;
	font-family: acme-gothic, sans-serif; 
    font-weight: 400; 
	font-size: 25pt;
    font-style: normal; 
	
}

header img{
	margin: 12px 0px 10px 90px;
	padding: 15px 15px 15px 15px;
	background-color: rgba(253,253,253,1.00) ;
	
}

nav{
	height: 50px;
	width: 1200px;
	background-color: #FACC5C;
	margin: 0px 0px 20px 0px;
	padding: 1px;
}

nav ul{
	list-style: none;
}

nav li{
	display: inline-block;
	margin: 0px 90px 20px 100px;
	padding: 0px 15px 10px 50px;
	color: rgba(0,0,0,1.00);
	/*font-family:"Myriad Pro","sans-serif";*/
	font-family: myriad-pro-semiextended, sans-serif;
	font-size: 13pt;
}

nav a{
	color: rgba(0,0,0,1.00);
}

#roverPic img{
	height: 200px;
	width: 300px;
	margin: 50px 10px 0px 50px;
	padding: 0px;
	border-top: 4px solid black;
	border-right: 4px solid black;
	/*border-bottom: 2px solid black;*/
	border-left: 4px solid black;
	border-radius: 10px 10px 0px 0px;
		}

#roverPic p{
	margin: -22px 0px 0px 60px;
	padding: 0px;
	/*border: none;*/
	font-size: 11px;
	color: white;
}

#roverHikes h2{
	margin: -5px 10px 0px 70px;

	/*font-family: acme-gothic, sans-serif; */
	
	font-family: adorn-roman, sans-serif;
}

#roverHikes p{
	height: 140px;
	width: 300px;
	margin: -47px 10px 100px 50px;
	padding: 35px 10px 10px 10px;
	border-right: 4px solid;
	/*border-top: 2px solid;*/
	border-bottom: 4px solid;
	border-left: 4px solid;
	border-radius: 0px 0px 10px 10px;
	font-family: myriad-pro-semiextended, sans-serif;
	}

#rover{
	float: left;
}


#northernPic img{
   	height: 200px;
	width: 300px;
	margin: 50px 10px 0px 100px;
	padding: 0px;
	border-top: 4px solid black;
	border-right: 4px solid black;
	border-bottom: none;
	border-left: 4px solid black;
	border-radius: 10px 10px 0px 0px;
}

#northernPic p{
	/*height: 10px;
	width: 300px;*/
	margin: -22px 0px 0px 110px;
	padding: 0px;
	font-size: 10px;
	border: none;
	color: white;
}



#northernHikes h2{
	/*height:30px;
	width: 300px;*/
	margin: 5px 10px 10px 120px;
}

#northernHikes p{
	height: 140px;
	width: 300px;
	margin: -36px 10px 100px 100px;
	padding: 30px 10px 10px 10px;
	border-right: 4px solid;
	/*border-top: 2px solid;*/
	border-bottom: 4px solid;
	border-left: 4px solid;
	border-radius: 0px 0px 10px 10px;
	font-family: myriad-pro-semiextended, sans-serif;
	}

#northern{
	float: left;
}

footer{
	height: 100px;
	width: 1200px;
	margin: 20px 0px 0px 0px;
	padding: 10px;
	background-color: #cb4e41;
	color:rgba(253,253,253,1.00);
	text-align: center;
	clear: both;
	font-family: myriad-pro-semiextended, sans-serif;
}



